@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Work Sans", serif;
  background-color: #f5f5f5;
}
.navbarContainer {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: auto;
  font-weight: 700;
  font-size: 27px;
}
.signBtn {
  padding: 15px 30px 15px 30px;
  background-color: white;
  color: rgb(0, 106, 80);
  border: 2px solid #006a50;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
.signBtn:hover{
background-color: #76daad;
}

.bannerContainer {
  width: 1280px;
  height: 400px;
  margin: auto;
  background-color: #c6e4d6;
  border-radius: 10px;
  font-weight: 700;
}
.bannerSubContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bannerSubContainer img {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-right: 100px;
  height: 300px;
}
.bannerHeadline {
  padding: 20px 0px 20px 50px;
  
}
.bannerHeadline p{
  color: rgba(14, 14, 14, 0.5);
  font-weight: 500px;
}
.ExploreBtn {
  background: #006a50;
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
}
.ExploreBtn:hover {
  background-color: #005540;
}
.pillersContainer {
  width: 1280px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pillersContainerCards {
  display: flex;
  gap: 20px;
}
.pillersContainerCard {
  width: 300px;
  height: 244px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 2px rgb(220, 220, 220);
  padding: 20px;
}
.pillersContainerCard:hover {
  background-color: rgb(228, 225, 225);
}

.vissionFeatureContainer {
  width: 1280px;
  margin: auto;
  margin-bottom: 20px;
}
.vissionFeatureCards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.vissionFeatureCard {
  width: 410px;
}
.vissionFeatureCard1 {
  background-color: #81b4fc;
}
.vissionFeatureCard2 {
  background-color: #c6e4d6;
}
.vissionFeatureCard3 {
  background-color: #f7ebcf;
}
.learnBtn {
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
}
.learnBtn:hover {
  background-color: #006a50;
}
.learnBtn1 {
  background-color: #5490f5;
}
.learnBtn2 {
  background-color: #09a15c;
}
.learnBtn3 {
  background-color: #ffc239;
}
.testimonialPart {
  width: 1280px;
  margin: auto;
  background-image: url(./assets/quote-bg.png);
  background-repeat: no-repeat;

  background-position: 20px 5px;

  background-color: aliceblue;
  border-radius: 20px;
}
.testimoniaContent {
  padding: 20px;
}

.OpinionContainer {
  width: 1280px;
  margin: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.agreeBtn {
  background-color: #c6e4d6;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.tableHead {
  background-color: #c6e4d6;
}

.recentNews {
  width: 1280px;
  margin: auto;
}

.NewsSection {
  display: flex;
  gap: 30px;
  height: 290px;
  padding: 30px;
  margin-bottom: 24px;
  box-shadow: 2px 2px 5px rgb(245, 244, 244);
  border-radius: 10px;
}
.NewsSection:hover {
  background-color: rgb(237, 236, 236);
}
.newsContent {
}
.dateTime {
  display: flex;
  gap: 20px;
}
.newsContent p {
  text-align: justify;
}
.imgSatelite {
  border-radius: 10px;
  height: 306px;
}

